*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0px;
}

html {
    font-family: "Outfit", sans-serif;
}

 
 body {
    background-color: hsl(30, 54%, 90%);
}


section {
    background-color: white;
    margin: 100px 200px;
    border-radius: 10px;
}

img {
    border-radius: 50px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 0 25px;
}
div p {
    padding: 10px;
}
header {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3 {
    color: hsl(332, 51%, 32%);
    padding-bottom: 10px;
}
h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    padding: 10px 0 10px 0;
}
h1 {
    font-size: xx-large;
    padding-bottom: 20px;
}

.prep {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 40px 20px;
}
.prepList li {
    color: hsl(332, 51%, 32%);
    margin: 5px;
}
ul {
    padding-left: 13px;
}
ol {
    padding: 20px 0 20px 20px;
}
li {
    padding-left: 15px;
    padding-bottom: 10px;
}
li p {
    display: inline;
    color: black;
}

.ingredients {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    color:  hsl(14, 45%, 36%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.instructions {
    color:  hsl(14, 45%, 36%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
}
.nut {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
table td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.second-col {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 50px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media screen and (max-width: 800px) {
    section {
      margin: 0px;

    }
    img {
        padding: 0px;
        border-radius: 0%;
    }
  }